<p>
  Diese Applikation wurde mit dem PhoneGap Framework und Zusatzmodulen von Cordova entwickelt.
  Beim Wechsel in den zweiten Tab werden 10000 Testdaten generiert.
  Zum Starten des Tests muss der "Test starten"-Button gedrückt werden.
  Um den Test erneut durchführen zu können, kann der "Test zurücksetzten"-Button gedrückt werden, welcher erneut 10000 Testdaten erzeugt.
  Im dritten Tab kann die native Hardware des mobilen Endgerätes getestet werden.
  Um die Standortdaten abzufragen muss der "Geodaten anzeigen"-Button gedrückt werden.
  Die Applikation muss jedoch über eine sichere Verbindung aufgerufen werden um die Standortdaten abfragen zu können.
  Mit dem "Foto aufnehmen"-Button wird die Kamera geöffnet und ein Foto kann aufgenommen werden.
  Bei Wechsel in den Tab wird eine Textdatei erstellt. Am unteren Ende kann im Textfeld der Text verändert werden und
  über den "Speichern"-Button in die Datei am lokalen Dateisystem geschriebenw werden.
  Der "Laden"-Button liest den Text der Datei aus und schreibt ihn in das Textfeld.
</p>
